@{
    Layout = "_Layout";
}

<h1>Best Restaurant Finder</h1>

<button class="btn btn-dark">@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</button>
<button class="btn btn-dark">@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</button>
